@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500&family=Noto+Sans+KR:wght@100;300;400&display=swap');

body {
    height: 100vh;
    background: linear-gradient(#003973, #E5E5BE);
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
/* container */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.location-wrap{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 32px;
}
.weather-data-text{
    display: grid;
}
.temp{
    font-size: 80px;
}
.weather-description, .temp, .today, .location-wrap{
    display: grid;
    justify-content: center;
    align-items: center;
}
.humidity, .wind, .feels-like{
    font-size: 19px;
    align-items: center;
    justify-content: center;
}
.weather-description{
    font-size: 19px;
}
.weather-icon{
    font-size: 70px;
    display: grid;
    justify-content: center;
}
.weather-data-box{
    display: grid;
    align-items: center;
    justify-content: center;
}
.location{
    top: 60px;
    font-size: 37px;
    display: grid;
}
.today{
    font-size: 26px;
    top: 30px;
}
.weather-icon-box{
    display: grid;
    justify-content: center;
}
.weather-icon img{
    width: 100%;
}
/* button */
.weather-button{
    margin-top: 20px;
}
