body {
    height: 100vh;
    background-image: url(https://t4.ftcdn.net/jpg/04/61/23/23/360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg);
    background-size: cover;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.weather-box {
    border: 4px solid #fff;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.1);
}
.location {
    font-size: 48px;
}
.weather-box {
    border: 1px solid #fff;
}
