@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500&family=Noto+Sans+KR:wght@100;300;400&display=swap');

body {
    height: 100vh;
    /* background: linear-gradient(#003973, #E5E5BE); */
    color: #fff;
    font-family: 'Barlow', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
/* container */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#003973, #E5E5BE);
}
.container_warm{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#f5de5e, #e25d46);
}
.location_wrap{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 32px;
}
.weather_data_text{
    display: grid;
}
.temp{
    font-size: 80px;
}
.weather_description, .temp, .today, .location_wrap{
    display: grid;
    justify-content: center;
    align-items: center;
}
.humidity, .wind, .feels_like{
    font-size: 19px;
    align-items: center;
    justify-content: center;
}
.humidity{
    margin-left: 7%;
}
.weather_description{
    font-size: 19px;
}
.weather_icon{
    font-size: 70px;
    display: grid;
    justify-content: center;
}
.weather_data_box{
    display: grid;
    align-items: center;
    justify-content: center;
}
.location{
    top: 60px;
    font-size: 37px;
    display: grid;
}
.today{
    font-size: 26px;
    top: 30px;
}
.weather_icon_box{
    display: grid;
    justify-content: center;
}
.weather_icon img{
    width: 100%;
}
/* button */
.weather_button{
    margin-top: 20px;
}
/* search box */
.search_box{
    position: absolute;
    top: 65px;
}
.search_box input{
    width: 100%;
    height: 32px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
@media all and (min-width: 768px) {
    /* button */
    .weather_button{
        bottom: 30px;
    }
    /* search box */
    .search_box{
        position: absolute;
        top: 200px;
    }
    .search_box input{
        width: 100%;
        height: 32px;
        outline: none;
        border: none;
        border-radius: 5px;
        padding: 10px;
    }
}
/* 데스크탑 */
@media all and (min-width: 960px) {
        /* search box */
        .search_box{
            position: absolute;
            top: 100px;
        }
        .search_box input{
            width: 100%;
            height: 32px;
            outline: none;
            border: none;
            border-radius: 5px;
            padding: 10px;
        }
}