.box {
    width: 500px;
    border: 5px solid black;
    text-align: center;
    margin: 20px;
}
.item-img {
    width: 400px;
}
.main {
    display: flex;
    justify-content: center;
}
.Win {
    border: 5px solid green;
    color: green;
}
.Lose {
    border: 5px solid red;
    color: red;
}
.Tie {
    border: 5px solid black;
    color: black;
}
button {
    border: 0px;
    border-radius: 50%;
    padding: 10px;
}
button > img {
    width: 40px;
    height: 40px;
}
button:hover {
    background-color: rgb(100, 149, 237, 0.5);
}
